
.footer {
  display: block;
  background: $black;
  color: $white;
  @include set-typography(16, 19, 500);
  padding: set-calc(32) set-calc(72);
  margin-top: set-calc(80);

  border-bottom: px-to-rem(1px) solid rgb(70, 70, 70);

  @include set-media(md) {
    padding: set-calc(32) set-calc(16);
  }

  &-inner {
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: set-calc(32) set-calc(8);

    @include set-media(md) {
      position: relative;
  
      display: flex;
      flex-direction: column;
    }
  }

  &-left {
    grid-column: span 1;
  }

  &-references {
    grid-column: 4 / 6;
  }

  &-social {
    grid-column: 7 / 9;
  }

  &-right {
    grid-column: 11 / 13;
  }

  &-author {
    grid-row: 2;
    grid-column: 11 / 13;

    &-title {
      color: $gray;
    }

  }

  &-row {
    @include set-media(md) {
    }
  }

  &-row-item {
    display: block;
  }

  &-row-item:not(:last-child) {
    padding-bottom: set-calc(8);
  }

  .logo-title {
    @include set-typography(24, 24, 500);
  }
}