* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 800;
  font-family: TTNormsPro;
  src: url("../fonts/TTNormsPro-EtraBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: TTNormsPro;
  src: url("../fonts/TTNormsPro-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: TTNormsPro;
  src: url("../fonts/TTNormsPro-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: TTNormsPro;
  src: url("../fonts/TTNormsPro-Regular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: TTNormsPro;
  src: url("../fonts/TTNormsPro-Light.ttf");
}

@font-face {
  font-weight: 800;
  font-family: TTInterphasesPro;
  src: url("../fonts/TTInterphasesPro-EtraBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: TTInterphasesPro;
  src: url("../fonts/TTInterphasesPro-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: TTInterphasesPro;
  src: url("../fonts/TTInterphasesPro-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: TTInterphasesPro;
  src: url("../fonts/TTInterphasesPro-Regular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: TTInterphasesPro;
  src: url("../fonts/TTInterphasesPro-Light.ttf");
}

html {
  color: $black;
  font-family: $font-family;

  background-color: $white;

  font-size: set-calc(18);
  line-height: set-calc(28);
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

h1 {
  @include set-typography(88, 96, 700);
  letter-spacing: -.01rem;

  @include set-media(md) {
    @include set-typography(48, 52, 700)
  }
}

h2 {
  @include set-typography(56, 61, 700);
  letter-spacing: -.01rem;

  @include set-media(md) {
    @include set-typography(40, 44, 700)
  }
}

h3 {
  @include set-typography(48, 55.2, 700);

  @include set-media(md) {
    @include set-typography(32, 36.8, 700);
  }
}

p {
  @include set-typography(24, 32, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500)
  }
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: background-color $d-hover, color $d-hover;
}

button {
  word-spacing: 1px;
  border: none;
  padding: 0;
  background: none;
  outline: none;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}