.header {
  position: relative;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  z-index: 1000;
  background-color: $white;

  .container {
    padding: 0 set-calc(72);

    @include set-media(md) {
      padding: 0 set-calc(16);
    }
  }

  .logo {
    margin: set-calc(16) 0;

    @include set-typography(24, 24, 700);
  }

  .nav-menu {
    @include set-typography(16, 24, 500);
    margin: 0 0 0 auto;
  }
  
  .nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-menu ul > * {
    margin: set-calc(4) 0 set-calc(4) set-calc(32);
  }

  .nav-menu a {
    &:hover {
      color: $light-gray;

      cursor: pointer;
    }
  }

  .login {
    margin-left: set-calc(56);

    @include set-typography(16, 24, 500);
  }

  hr {
    margin: 0;

    border: px-to-rem(0.5px) solid $black;
    border-radius: 0;
  }

  .nav-toggle {
    display: none;
  }

  @include set-media(md) {
    .nav-menu {
      display: none;
      width: 100%;
    }

    .nav-menu ul {
      flex-direction: column;
    }

    .login {
      margin-left: 0;
    }

    .nav-menu li {
      margin-right: 0;
      margin-left: 0;
    }

    .nav-toggle-label {
      margin: 0 0 0 auto;
    }

    .nav-toggle-label::before {
      display: block;
      width: set-calc(68);
      height: set-calc(56);
  
      background: url("../images/menu-mobile.svg") no-repeat;
      background-size: contain;
  
      cursor: pointer;

      content: "";
    }
  
    .nav-toggle:checked + .nav-menu {
      display: block;
      margin-left: 0;
    }
  }
}