$rem-base: 16px;
$white: #fff;
$black: #222;
$blue: #1F59F5;
$light-gray: #F3F3F3;
$gray: #C4C4C4;
$dark-gray: #717578;
$breakpoints: (
  xxs: 319.98px,
  xs: 374.98px,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1199.98px,
);