$rem-base: 16px;
$white: #fff;
$black: #222222;
$blue: #1F59F5;
$light-gray: #F3F3F3;
$gray: #C4C4C4;
$dark-gray: #717578;
$breakpoints: (
  xxs: 320px,
  xs: 375px,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);