.author-wrapper.container.is-grid-inner
  h2.author-title  Любой может научиться иллюстрации
  .author-quote “Чтобы рисовать, необязательно иметь релевантный опыт или творческие способности. У меня не было академического образования, когда я начала рисовать. Я училась на курсах,  которые казались мне интересными, постепенно собирая свой личный набор инструментов.”
  .author-info
    img(alt="Автор курса" src="./images/author.png").author-photo
    p.author-photo-name София Ульнова — художник, автор курса
    p.author-photo-description Закончила Британскую Высшую Школу Дизайна по курсу иллюстрация. Рисую для себя и творческих проектов.
    a.author-photo-link(href="https://www.youtube.com/@sofiulyanova/featured") Youtube
    a.author-photo-link(href="https://t.me/sofiulyanova") Телеграмм