.author-wrapper
  h2.author-title  Преподаватель
  .author-list
    .author-list-item
      .author-list-item-name.s-text-24 София Ульянова
      .author-list-item-description.s-text-18 Художник, автор курса. Закончила Британскую Высшую Школу Дизайна по курсу иллюстрация. Рисую для себя и творческих проектов.
      .author-list-item-photo
        img(alt="Автор курса" src="./images/author.png")
      a.author-list-item-link.s-text-24(href="") портфолио →