.author-wrapper.container.is-grid-inner
  h2.author-title  Любой может научиться иллюстрации
  .author-quote “Чтобы рисовать, необязательно иметь релевантный опыт или творческие способности. У меня не было академического образования, когда я начала рисовать. Я училась на курсах,  которые казались мне интересными, постепенно собирая свой личный набор инструментов.”
  .author-info
    .author-info-photo
      img(alt="Автор курса" src="./images/author.png")
    p.author-info-name София Ульнова — художник, автор курса
    p.author-info-description Закончила Британскую Высшую Школу Дизайна по курсу иллюстрация. Рисую для себя и творческих проектов.
    a.author-info-link(href="https://www.youtube.com/@sofiulyanova/featured" target="_blank") Youtube
    a.author-info-link(href="https://t.me/sofiulyanova" target="_blank") Телеграмм