section(id='for-who').container.description-wrapper.is-grid-inner
  h2.description-title Курс подойдeт тем, кто
  .description-head 
    p.description-head-text #[strong Не знает с чего начать.] Преподаватель подскажет, какие материалы купить, как держать ручку, ответит на вопросы, поддержит.
    p.description-head-text #[strong Уверен, что всё зря, если рисунок «не как на фотографии».] Фотографическая точность — одно из возможных средств выразительности. Еще есть контраст, выразительные линии, фактура. На вебинаре будем учиться делать выразительные рисунки, не копируя фотографию.
    p.description-head-text #[strong Боится, что не получится.] На первых этапах в рисовании мешает не столько отсутствие навыков, сколько предубеждения и страхи: «а если не получится», «не знаю, как правильно». Поэтому в начале важна поддержка и дружелюбная атмосфера. На вебинаре можно все, преподаватель поддержит любые идеи и эксперименты.
    p.description-head-text #[strong Не знает, как передать то, что хочется.] Преподаватель лично общается с учениками, обсуждает с ними рисунки. Помогает понять, что пошло не так. Подсказывает, что сделать, чтобы получилось.
  .description-list
    .description-list-item
      .point 4 вебинара
      .point-description с преподавателем
    .description-list-item
      .point 14 заданий
      .point-description для закрепления материала
    .description-list-item
      .point 7 видео-уроков
      .point-description для самостоятельного изучения