.description-wrapper
  h2.description-title.s-text-56 Курс подойдeт тем, кто
  .description-list.is-grid-4
    .description-list-item.is-grid-4
      .description-list-item-question.s-text-36 Не знает с чего начать.
      .description-list-item-answear.s-text-18 Преподаватель подскажет, какие материалы купить, как держать ручку, ответит на вопросы, поддержит.
    .description-list-item.is-grid-4
      .description-list-item-question.s-text-36 Уверен, что всё зря, если рисунок «не как на фотографии».
      .description-list-item-answear.s-text-18 Фотографическая точность — одно из возможных средств выразительности. Еще есть контраст, выразительные линии, фактура. На вебинаре будем учиться делать выразительные рисунки, не копируя фотографию.
    .description-list-item.is-grid-4
      .description-list-item-question.s-text-36 Боится, что не получится.
      .description-list-item-answear.s-text-18 На первых этапах в рисовании мешает не столько отсутствие навыков, сколько предубеждения и страхи: «а если не получится», «не знаю, как правильно». Поэтому в начале важна поддержка и дружелюбная атмосфера. На вебинаре можно все, преподаватель поддержит любые идеи и эксперименты.
    .description-list-item.is-grid-4
      .description-list-item-question.s-text-36 Не знает, как передать то, что хочется.
      .description-list-item-answear.s-text-18 Преподаватель лично общается с учениками, обсуждает с ними рисунки. Помогает понять, что пошло не так. Подсказывает, что сделать, чтобы получилось. 