.explain-wrapper 
  .explain-title.s-text-56 Любой может научиться иллюстрации
  .explain-quote.s-text-28 “Чтобы рисовать, необязательно иметь релевантный опыт или творческие способности. У меня не было академического образования, когда я начала рисовать. Я училась на курсах,  которые казались мне интересными, постепенно собирая свой личный набор инструментов.”
  .content-block-embed
    .video-player
      .plyr.plyr-video.plyr-full-ui(tabindex="0")
        .plyr-video-wrapper.plyr-video-embed
          iframe(src="https://www.youtube.com/embed/ag6PuGjJdbU?autoplay=1&mute=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen) 
    .video-describtion.s-text-18 София Ульянова — иллюстратор и преподаватель курсов об иллюстрации. 