.faq-wrapper
  .faq-head.is-grid-outer
    h2.faq-title Ответы на вопросы
    .faq--desc
      | Если у вас остались вопросы по курсу, вы можете
      |
      a оставить заявку
      |
      | и я помогу вам разобраться.
  .faq-list
    .faq-list-item
      .faq-list-item-question Как проходит онлайн обучение
      .faq-list-item-answers Ответ на вопросы
    .faq-list-item
      .faq-list-item-question Сколько времени дается на домашние задания
      .faq-list-item-answers Ответ на вопросы
    .faq-list-item
      .faq-list-item-question Какие материалы нужны для курса
      .faq-list-item-answers Ответ на вопросы
    .faq-list-item
      .faq-list-item-question Подойдет ли мне курс, если я раньше не рисовал
      .faq-list-item-answers Ответ на вопросы
    .faq-list-item
      .faq-list-item-question Что будет, если я пропустил вебинар
      .faq-list-item-answers Ответ на вопросы