.faq-wrapper
  .faq-head.is-grid-outer
    h2.faq-title.s-text-56 Ответы на вопросы
    .faq-desc.s-text-24
      | Если у вас остались вопросы по курсу, вы можете
      |
      a оставить заявку
      |
      | и я помогу вам разобраться.
  .faq-list
    .faq-list-item
      .faq-list-item-question.s-text-24 Как проходит онлайн обучение
      .faq-list-item-answers.s-text-16 Ответ на вопросы
    .faq-list-item
      .faq-list-item-question.s-text-24 Сколько времени дается на домашние задания
      .faq-list-item-answers.s-text-16 Ответ на вопросы
    .faq-list-item
      .faq-list-item-question.s-text-24 Какие материалы нужны для курса
      .faq-list-item-answers.s-text-16 Ответ на вопросы
    .faq-list-item
      .faq-list-item-question.s-text-24 Подойдет ли мне курс, если я раньше не рисовал
      .faq-list-item-answers.s-text-16 Ответ на вопросы
    .faq-list-item
      .faq-list-item-question.s-text-24 Что будет, если я пропустил вебинар
      .faq-list-item-answers.s-text-16 Ответ на вопросы