.footer
  .footer-inner 
    .footer-left 
      .footer-row 
        .logo-title.footer-row-item flearn
    .footer-references  
      .footer-row 
        a.footer-row-item Курсы
        a.footer-row-item Рекомендуемые книги
        a.footer-row-item Статьи
        a.footer-row-item Отзывы студентов
    .footer-social
      .footer-row 
        a.footer-row-item(href="https://t.me/sofiulyanova" target="_blank") Telegram
        a.footer-row-item(href="https://www.youtube.com/@sofiulyanova/featured" target="_blank") YouTube
        a.footer-row-item(href="https://dzen.ru/id/63e1220500d5cb197f2baf8b" target="_blank") Dzen
        a.footer-row-item(href="https://vk.com/club186282121" target="_blank") Vkontakte
    .footer-right 
      .footer-row 
        a.footer-row-item Политика конфидициальности
        a.footer-row-item Условия использования
    .footer-author 
      a.footer-author-title Made by Sofiia Ulianova
