.footer
  .footer-inner 
    .footer-left 
      .footer-row 
        .logo.footer-row-item.s-text-24 flearn
    .footer-references  
      .footer-row 
        a.footer-row-item.s-text-18 Курсы
        a.footer-row-item.s-text-18 Рекомендуемые книги
        a.footer-row-item.s-text-18 Статьи
        a.footer-row-item.s-text-18 Отзывы студентов
    .footer-social
      .footer-row 
        a.footer-row-item.s-text-18(href="https://t.me/sofiulyanova" target="_blank") Telegram
        a.footer-row-item.s-text-18(href="https://www.youtube.com/@sofiulyanova/featured" target="_blank") YouTube
        a.footer-row-item.s-text-18(href="https://dzen.ru/id/63e1220500d5cb197f2baf8b" target="_blank") Dzen
        a.footer-row-item.s-text-18(href="https://vk.com/club186282121" target="_blank") Vkontakte
    .footer-right 
      .footer-row 
        a.footer-row-item.s-text-18 Политика конфидициальности
        a.footer-row-item.s-text-18 Условия использования
    .footer-author 
      a.footer-author-title.s-text-18 Made by Sofiia Ulianova
