.gallery.container
  .gallery-btns
    button.gallery-paginationBtn.swiper-btn-prev
      span ←
    button.gallery-paginationBtn.swiper-btn-next
      span →
  .gallery-container.swiper-container
    .gallery-wraper.swiper-wrapper
      .gallery-item.swiper-slide
        img(src="./images/slide-1.png" loading="lazy" decoding="async")
      .gallery-item.swiper-slide
        img(src="./images/slide-2.png" loading="lazy" decoding="async")
      .gallery-item.swiper-slide
        img(src="./images/slide-3.png" loading="lazy" decoding="async")
      .gallery-item.swiper-slide
        img(src="./images/slide-1.png" loading="lazy" decoding="async")
      .gallery-item.swiper-slide
        img(src="./images/slide-2.png" loading="lazy" decoding="async")
      .gallery-item.swiper-slide
        img(src="./images/slide-3.png" loading="lazy" decoding="async")
  .gallery-caption.s-text-18 Рисунки преподавателя