.header
  .header-desk.is-grid-12
    .header-logo
      .header-logo-wrapper
        a(href="free-zone.html").s-text-24 flearn
    .header-nav
      .header-nav-item
        a(href='profile.html#profile').inline-link Moe обучение
      .header-nav-item
        a(href='free-zone.html').inline-link Бесплатно
      .header-nav-item
        a(href='catalogue.html').inline-link Программы обучения
    .header-nav-login
        a(href='profile.html').inline-link Войти
    .header-humburger
  .header-mob 
    .header-mob-menu-main
      .header-mob-item 
        a.inline-link.s-text-24
          span.inline-text Мое обучение
      .header-mob-item 
        a.inline-link.s-text-24
          span.inline-text Бесплатно
      .header-mob-item 
        a.inline-link.s-text-24
          span.inline-text Программы обучения
    .header-mob-spacing
    .header-mob-menu-controls
      a.header-login-btn.s-text-24 Войти





