header.header.container.d-flex.align-items-center.flex-wrap
  .logo.d-flex.align-items-center
    p flearn
  nav.nav-menu.d-flex
    ul.d-flex
      li
        a.active(href="#page-description") Moe обучение
      li
        a(href="#page-description") Бесплатно
      li
        a(href="#page-description") Статьи
      li
        a(href="#page-description") Программы обучения
  .login
    a Войти



