header.header
  .header-wrapper
    .logo
      .s-text-24 flearn
    label(for='nav-toggle').nav-toggle-label
    input(type='checkbox' id='nav-toggle').nav-toggle
    nav.nav-menu
      ul
        li
          a.active.s-text-18(href='#page-description') Moe обучение
        li
          a.s-text-18(href='#page-description') Бесплатно
        li
          a.s-text-18(href='#page-description') Статьи
        li
          a.s-text-18(href='#page-description') Программы обучения
        li
          a.s-text-18(href='#page-description').login Войти



