header.header
  .container.d-flex.align-items-center.flex-wrap
    .logo.d-flex.align-items-center
      p flearn
    label(for='nav-toggle').nav-toggle-label
    input(type='checkbox' id='nav-toggle').nav-toggle
    nav.nav-menu.d-flex
      ul.d-flex
        li
          a.active(href='#page-description') Moe обучение
        li
          a(href='#page-description') Бесплатно
        li
          a(href='#page-description') Статьи
        li
          a(href='#page-description') Программы обучения
        li
          a(href='#page-description').login Войти
  hr



