.list-empty 
  span.list-empty-title.s-text-36 К сожалению, у меня нет таких материалов
  span.list-empty-text.s-text-21 Напишите мне в телеграм, и я помогу найти нужную информацию
  a.btn.list-empty-button.s-text-21 Написать в телеграм