.modules-wrapper.container 
  .modules-head
    h2.modules-title Программа курса
    p.modules-students-desc Программа рассчитана на 1 месяц, ей будет нужно посвящать 5-6 часов в неделю.
  .modules-list 
    .modules-list-item 
      .modules-list-item-info 
        .modules-list-item-head
          span Неделя 1
        h3.modules-list-item-title Тема первой недели
        p.modules-list-item-text
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт 
      .modules-list-item-media
        .modules-list-item-media-src
          img(data-v-desktop-2 alt="Иллюстрация" src="./images/6.jpg")
        p.modules-list-item-media-author София Ульянова
        p.modules-list-item-media-desc Сопроводительный текст к фотографии
    .modules-list-item 
      .modules-list-item-info 
        .modules-list-item-head
          span Неделя 1
        h3.modules-list-item-title Тема первой недели
        p.modules-list-item-text
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт 
      .modules-list-item-media
        .modules-list-item-media-src
          img(data-v-desktop-2 alt="Иллюстрация" src="./images/6.jpg")
        p.modules-list-item-media-author София Ульянова
        p.modules-list-item-media-desc Сопроводительный текст к фотографии