.modules-wrapper.container 
  .modules-head.is-grid-12
    h2.modules-title.s-text-56 Программа
    .modules-students-desc.s-text-24 Программа рассчитана на 1 месяц, ей будет нужно посвящать 5-6 часов в неделю.
    .modules-menu-wrapper
      .modules-menu-item.s-text-18 4 видео-урока
      .modules-menu-item.s-text-18 14 заданий
  .modules-list 
    .modules-list-item.is-grid-12
      .modules-list-item-info 
        .modules-list-item-head.s-text-18
          span Неделя 1
        .modules-list-item-title.s-text-36  Тема первой недели
        .modules-list-item-text.s-text-18
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт 
      .modules-list-item-media
        .modules-list-item-media-src
          img(data-v-desktop-2 alt="Иллюстрация" src="./images/6.jpg")
        .modules-list-item-media-author.s-text-18 София Ульянова
        .modules-list-item-media-desc.s-text-18 Сопроводительный текст к фотографии
    .modules-list-item.is-grid-12
      .modules-list-item-info 
        .modules-list-item-head.s-text-18
          span Неделя 1
        .modules-list-item-title.s-text-36  Тема первой недели
        .modules-list-item-text.s-text-18
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт пункт пункт пункт пункт пункт пункт пункт
          br
          | • Пункт 
      .modules-list-item-media
        .modules-list-item-media-src
          img(data-v-desktop-2 alt="Иллюстрация" src="./images/6.jpg")
        .modules-list-item-media-author.s-text-18 София Ульянова
        .modules-list-item-media-desc.s-text-18 Сопроводительный текст к фотографии