.program-intro
  .program-intro-inner.container
    .program-intro-categories
      .badge 27 марта | 4 недели
      .badge короткий курс
    h1.program-intro-title Как рисовать свободно
    p.program-intro-block Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
    .program-intro-actions
      a(href="#decision-form").btn.btn-blue.btn-adapt.program-intro-actions-btn Записаться
      .program-intro-actions-discount.btn.btn-light-gray -30% до 30 апреля
    .program-intro-cover
      img(data-v-desktop alt="Иллюстрация" src="./images/draw-free.png")