.program-intro(id="program-intro")
  .program-intro-inner
    .program-intro-categories
      .program-intro-categories-item.s-text-18 27 марта | 4 недели
      .program-intro-categories-item.s-text-18 короткий курс
    h1.program-intro-title Как рисовать свободно
    .program-intro-block.s-text-24 Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
    .program-intro-actions
      a(href="#decision-form").btn.btn-blue.btn-adapt.program-intro-actions-btn.s-text-24 Записаться
      .program-intro-actions-discount.btn.btn-light-gray.s-text-24 -30% до 30 апреля
    .program-intro-cover
      img(data-v-desktop alt="Иллюстрация" src="./images/draw-free.png")