.teachers-wrapper
  h2.teachers-title.s-text-56  Преподаватель
  .teachers-list
    .teachers-list-item
      .teachers-list-item-name.s-text-28 София Ульянова
      .teachers-list-item-description.s-text-18 Художник, автор курса. Закончила Британскую Высшую Школу Дизайна по курсу иллюстрация. Рисую для себя и творческих проектов.
      .teachers-list-item-photo
        img(alt="Автор курса" src="./images/author.png")
      .teachers-list-item-link
        a.s-text-21-uppercase  портфолио →