doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title lessons
    link(rel="stylesheet", href="styles/app.css")
  body
    .page
      include components/header.pug
      main.page-content
        section.homework-editor-wrapper
          .homework-editor-title-wrapper
            h1.s-text-88 София Ульянова
          .homework-editor-menu
            .homework-editor-menu-link-wrapper
              a(href="#" aria-current="page").homework-editor-menu-link-wrapper-link.s-text-20-uppercase.nuxt-link-exact-active.isActive Моя работа
            .homework-editor-menu-link-wrapper
              a(href="#" aria-current="page").homework-editor-menu-link-wrapper-link.s-text-20-uppercase Результаты
          .homework-editor-content 
            .homework-editor-content-upload
              .homework-editor-content-upload-deadline.s-text-21-uppercase 
                 | загрузить до воскресенья,
                 br
                 | 4 сентября, 23:59 по мск
              a(href="#upload-form").homework-editor-content-upload-btn.s-text-21-uppercase Редактировать работу
            h2.homework-editor-content-title.s-text-56 Задание недели. Тема 1
            .homework-editor-content-content-section 
              section.text-section.is-grid-4 
                  h2.text-section-title.s-text-21-uppercase описание
                  .text-section-content
                    p.s-text-21  Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
              section.text-section.is-grid-4 
                h2.text-section-title.s-text-21-uppercase Ссылка
                .text-section-content
                  a.inline-link.s-text-21  Скачать презентацию
            include components/gallery
            .homework-editor-content-upload-mobile
            a(href="#upload-form").homework-editor-content-upload-mobile-btn.s-text-21-uppercase Редактировать работу
            .homework-editor-content-upload-mobile-deadline.s-text-16
                | загрузить до воскресенья,
                br
                | 4 сентября, до 23:59 по мск
          //- .homework-editor-results
          //-   section.text-section.is-grid-4 
          //-     h2.text-section-title.s-text-21-uppercase  Задание недели. Тема 1
          //-     .text-section-content
          //-       p.s-text-21  Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
          //-       img(src="./images/3.jpg")
          //-       p.s-text-21  Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
          //-       img(src="./images/3.jpg")
          //-       p.s-text-21  Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
          //-       p.s-text-21  Поговорим о свободе в рисунке, сделаем упражнения и 3-4 законченные работы. Будем анализировать рисовальный опыт, отмечать, что вызывает сопротивление, скуку, интерес.
          .homework-editor-header.is-grid-4
            .homework-editor-header-title-col 
              h1.homework-editor-header-title.s-text-21 Как рисовать свободно
              .s-text-21 23 мая — 23 июня
            .homework-editor-header-lesson
              .homework-editor-header-lesson-nav
                a(href="homework.html").inline-link.homework-editor-header-lesson-nav-link.s-text-21-uppercase.blue
                  span.inline-link-arrow-left &larr;
                  span.inline-link-text Вернуться к заданию
                a.inline-link.homework-editor-header-lesson-nav-link.s-text-21-uppercase(href="lessons.html")
                  span.inline-link-arrow-left &larr;
                  span.inline-link-text Все уроки
              .homework-editor-header-lesson-number.s-text-21 Урок 1
      include components/footer.pug