.program-intro {
  position: relative;
  display: block;
  left: 0;
  width: 100%;
}

.program-intro-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  background: $light-gray;
  border-radius: px-to-rem(20px);
  padding: px-to-rem(24px) px-to-rem(24px) px-to-rem(192px);
  margin-bottom: px-to-rem(40px);

  @include set-media(md) {
    padding: px-to-rem(24px) px-to-rem(16px);
  }

  .program-intro-categories {
    display: flex;
    flex-wrap: wrap;
    z-index: 200;
    padding-bottom: px-to-rem(64px);

    & > div:not(:last-child) {
      margin-right: px-to-rem(8px);
    }
  }

  .program-intro-title {
    z-index: 200;
    padding-bottom: px-to-rem(48px);;
    max-width: px-to-rem(620px);

    @include set-media(md) {
      padding-bottom: px-to-rem(40px);;
    }
  }

  .program-intro-block {
    z-index: 200;
    @include set-typography(20px, 25px, 500);
    padding-bottom: px-to-rem(48px);
    max-width: px-to-rem(511px);

    @include set-media(md) {
      padding-bottom: px-to-rem(40px);
    }
  }

  .program-intro-actions {
    display: flex;
    flex-wrap: wrap;
    z-index: 200;

    &-btn {
      @include set-typography(20px, 24px, 500);
      padding: px-to-rem(4px) px-to-rem(40px);
      margin: 0 px-to-rem(4px) px-to-rem(4px) 0;

      @include set-media(sm) {
        @include set-typography(20px, 40px, 500);
      }
    }
  
    &-discount {
      @include set-typography(20px, 24px, 500);
      padding: px-to-rem(4px) px-to-rem(40px);
      color: $black;
    }
  }

  .program-intro-cover img[data-v-desktop]{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    object-fit: cover;
  }
}

.description-wrapper {
  .description-title {
    margin-bottom: px-to-rem(40px);
    grid-column: span 7;
  }

  .description-head {
    grid-column: span 6;

    &-text:not(:last-child) {
      margin-bottom: px-to-rem(16px);
    }
  }

  .description-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 8/-1;
    padding-top: 0;
    height: 100%;

    @include set-media(md) {
      margin-top: px-to-rem(32px);
    }

    &-item:not(:first-child) {

      @include set-media(md) {
        margin-top: px-to-rem(56px);
      }
    }
  }

  .point {
    @include set-typography(60px, 78px, 500);
    margin-bottom: px-to-rem(8px);

    @include set-media(lg) {
      @include set-typography(40px, 52px, 500);
    }
  }

  .point-description {
    @include set-typography(16px, 16px, 500);
    color: $gray;
  }
}

.modules-wrapper {
  display: flex;
  flex-direction: column;

  .modules-head {
    .modules-title {
      grid-column: 1/-1;
      padding-bottom: px-to-rem(32px);
    }

    .modules-students-desc {
      grid-column: 1/7;
      padding-bottom: px-to-rem(40px);
    }
  }

  .modules-list {
    display: grid;
    grid-row-gap: px-to-rem(8px);
  }

  .modules-list-item {
  }

  .modules-list-item-info {
    position: relative;
    display: block;
    border-radius: px-to-rem(20px);
    background-color: $light-gray;
    width: 100%;
    left: 0;

    grid-column: span 6;
    padding: px-to-rem(32px);
  }

  .modules-list-item-head {
    position: relative;
    padding-bottom: px-to-rem(8px);
    color: $gray;
  }

  .modules-list-item-title {
    padding-bottom: px-to-rem(32px);
  }

  .modules-list-item-text {
    padding-bottom: px-to-rem(100px);
  }

  .modules-list-item-media {
    position: relative;
    display: block;
    border-radius: px-to-rem(20px);
    background-color: $light-gray;
    width: 100%;
    left: 0;

    grid-column: span 6;
  }

  .modules-list-item-media-src  img[data-v-desktop-2]{
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: px-to-rem(20px);
    height: px-to-rem(378px);
  }

  .modules-list-item-media-author {
    padding: px-to-rem(16px) px-to-rem(32px);
  }

  .modules-list-item-media-desc {
    color: $gray;
    padding: 0 px-to-rem(32px) px-to-rem(40px);
  }
}

.author-wrapper {

  .author-title {
    grid-column: span 12;
    padding-bottom: px-to-rem(94px);

    @include set-media(md) {
      padding-bottom: px-to-rem(40px);
    }
  }

  .author-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/7;

    @include set-typography(36px, 54px, 500);

    @include set-media(md) {
      @include set-typography(20px, 30px, 500);
      padding-bottom: px-to-rem(40px);
    }
  }

  .author-info {
    grid-column: 9/12;
    display: flex;
    flex-direction: column;
    
    @include set-media(md) {
      position: relative;
      display: grid;
      flex-direction: column;
      background: $light-gray;
      border-radius: px-to-rem(20px);
      padding: px-to-rem(16px);
      grid-template-columns: repeat(2,minmax(0,1fr));;
      grid-column-gap: px-to-rem(16px);
    }
  }

  .author-photo {
    border-radius: px-to-rem(20px);
    padding-bottom: px-to-rem(8px);

    @include set-media(md) {
      max-width: px-to-rem(140px);
      height: auto;
      grid-column: 1/1;
      grid-row: 1/5;
    }

    &-name {
      @include set-typography(16px, 24px, 700);
      padding-bottom: px-to-rem(32px);

      @include set-media(md) {
        padding-bottom: px-to-rem(16px);
      }
    }

    &-description {
      @include set-typography(16px, 22.4px, 500);
      padding-bottom: px-to-rem(16px);
    }

    &-link {
      @include set-typography(16px, 24px, 500);
      text-decoration: underline;
    }

    &-link:not(:last-child) {
      padding-bottom: px-to-rem(8px);
    }
  }



}
