.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: $white;
}

.page-content {
  margin-top: set-calc(24);
  padding-top: 0;
}

.program-wrapper {
  display: grid;
  grid-gap: 0 set-calc(8);
  grid-template-columns: repeat(12,minmax(0,1fr));;
  padding: 0 set-calc(72);

  @include set-media(md) {
    padding: 0 set-calc(16);
  }
}

.program-blocks-item {
  display: block;
  padding: 0;
}

.is-black {
  width: set-calc(144, true, 100%);
  left: set-calc(-72);
  padding: set-calc(54) set-calc(72);

  position: relative;
  border-radius: set-calc(20);
  background-color: $black;
  margin-top: set-calc(80);

  @include set-media(md) {
    display: block;
    padding: set-calc(40) 0;
    width: set-calc(32, true, 100%);
    left: set-calc(-16);
  }
}

.is-grid-inner {
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  grid-gap: set-calc(8);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
  }
}

.is-grid-outer {
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  grid-column-gap: set-calc(8);
  grid-row-gap: set-calc(8);
  padding: 0 cset-calc(72);
}

.program-intro {
  left: 0;

  grid-column: span 12;
  width: 100%;
  min-height: set-calc(-150, true, 100vh);

  @include set-media(md) {
    position: relative;
    left: set-calc(-15);

    display: block;

    grid-column: span 12;
    width: set-calc(30, true, 100%);
  }

}

.program-intro-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: set-calc(40);
  padding: set-calc(24) set-calc(24);
  overflow: hidden;

  background: $light-gray;
  border-radius: set-calc(20);

  @include set-media(md) {
    padding: set-calc(24) set-calc(16);
  }

  .program-intro-categories {
    z-index: 200;

    display: flex;
    flex-wrap: wrap;
    padding-bottom: set-calc(64);

    & > div:not(:last-child) {
      margin-right: set-calc(8);
    }
  }

  .program-intro-title {
    z-index: 200;;

    max-width: set-calc(620);
    padding-bottom: set-calc(48);

    @include set-media(md) {
      padding-bottom: set-calc(40);;
    }
  }

  .program-intro-block {
    z-index: 200;

    max-width: set-calc(511);
    padding-bottom: set-calc(48);

    @include set-typography(20, 25, 500);

    @include set-media(md) {
      padding-bottom: set-calc(40);
    }
  }

  .program-intro-actions {
    z-index: 200;

    display: flex;
    flex-wrap: wrap;

    &-btn {
      @include set-typography(20, 24, 500);
      margin: 0 px-to-rem(4px) px-to-rem(4px) 0;
      padding: px-to-rem(4px) px-to-rem(40px);

      transition: background-color $d-hover;

      @include set-media(sm) {
        @include set-typography(20, 40, 500);
      }
    }

    &-btn:hover {
      background-color: $blue-hover;
    }
  
    &-discount {
      @include set-typography(20, 24, 500);
      padding: px-to-rem(4px) px-to-rem(16px);

      @include set-media(sm) {
        @include set-typography(20, 40, 500);
      }

      color: $black;
    }
  }

  .program-intro-cover img[data-v-desktop]{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.program-blocks {
  grid-column: span 12;
}

.description-wrapper {
  padding-top: set-calc(80);

  .description-title {
    grid-column: span 7;
    margin-bottom: set-calc(40);
  }

  .description-head {
    grid-column: span 6;

    &-text:not(:last-child) {
      margin-bottom: set-calc(16);
    }
  }

  .description-list {
    display: flex;
    flex-direction: column;
    grid-column: 8/-1;
    justify-content: space-between;
    height: 100%;
    padding-top: 0;

    @include set-media(md) {
      margin-top: set-calc(32);
    }

    &-item:not(:first-child) {
      @include set-media(md) {
        margin-top: set-calc(56);
      }
    }
  }

  .point {
    @include set-typography(60, 78, 500);
    margin-bottom: set-calc(8);

    @include set-media(md) {
      @include set-typography(40, 52, 500);
    }
  }

  .point-description {
    @include set-typography(16, 16, 500);
    color: $gray;
  }
}

.modules-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: set-calc(80);

  .modules-head {
    .modules-title {
      grid-column: 1/-1;
      padding-bottom: set-calc(32);
    }

    .modules-students-desc {
      grid-column: 1/7;
      padding-bottom: set-calc(40);
    }
  }

  .modules-list {
    display: grid;
    grid-row-gap: set-calc(8);
  }

  .modules-list-item-info {
    position: relative;
    left: 0;

    display: block;

    grid-column: span 6;
    width: 100%;
    padding: set-calc(32);

    background-color: $light-gray;
    border-radius: set-calc(20);

    @include set-media(md) {
      left: set-calc(-16);

      width: set-calc(32, true, 100%);
      padding: set-calc(16);
    }
  }

  .modules-list-item-head {
    position: relative;

    padding-bottom: set-calc(8);

    color: $gray;
  }

  .modules-list-item-title {
    padding-bottom: set-calc(32);
  }

  .modules-list-item-text {
    padding-bottom: set-calc(100);
  }

  .modules-list-item-media {
    position: relative;
    left: 0;

    display: block;

    grid-column: span 6;
    width: 100%;

    background-color: $light-gray;
    border-radius: set-calc(20);

    @include set-media(md) {
      left: set-calc(-16);

      width: set-calc(32, true, 100%);
    }
  }

  .modules-list-item-media-src {
    position: relative;

    display: block;
    width: 100%;
    height: set-calc(340);
  }

  .modules-list-item-media-src  img[data-v-desktop-2]{
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: set-calc(20);
  }

  .modules-list-item-media-author {
    padding: set-calc(16) set-calc(32);

    @include set-media(md) {
      padding: set-calc(16) set-calc(16);
    }
  }

  .modules-list-item-media-desc {
    padding: 0 set-calc(32) set-calc(32);

    color: $gray;

    @include set-media(md) {
      padding: 0 set-calc(16) set-calc(16);
    }
  }
}

.author-wrapper {
  padding-top: set-calc(80);

  .author-title {
    grid-column: span 12;
    padding-bottom: set-calc(94);

    @include set-media(md) {
      padding-bottom: set-calc(40);
    }
  }

  .author-quote {
    display: flex;
    flex-direction: column;
    grid-column: 1/7;
    justify-content: center;

    @include set-typography(36, 54, 500);

    @include set-media(md) {
      @include set-typography(20, 30, 500);
      padding-bottom: set-calc(40);
    }
  }

  .author-info {
    display: flex;
    flex-direction: column;
    grid-column: 9/12;
    
    @include set-media(md) {
      position: relative;

      display: grid;
      flex-direction: column;;
      grid-column-gap: set-calc(16);
      grid-template-columns: repeat(2,minmax(0,1fr));
      padding: set-calc(16);

      background: $light-gray;
      border-radius: set-calc(20);
    }

    &-photo {
      position: relative;

      display: block;
      width: set-calc(318);
      height: set-calc(440);
      padding-bottom: px-to-rem(8px);
  
      @include set-media(md) {
        grid-row: 1/5;
        grid-column: 1/1;
        width: set-calc(130);

        height: set-calc(181);
      }
    }

    &-photo img {
      position: relative;

      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: set-calc(20);
    }

    &-name {
      @include set-typography(16, 24, 700);
      padding-bottom: px-to-rem(32px);

      @include set-media(md) {
        padding-bottom: px-to-rem(16px);
      }
    }

    &-description {
      @include set-typography(16, 22.4, 500);
      padding-bottom: px-to-rem(16px);
    }

    &-link {
      @include set-typography(16, 24, 500);
      text-decoration: underline;
    }

    &-link:not(:last-child) {
      padding-bottom: px-to-rem(8px);
    }
  }
}

.gallery {
  position: relative;

  display: block;

  &-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: set-calc(80) set-calc(16) set-calc(8);

    @include set-media(md) {
      display: none;
    }
  }

  &-paginationBtn {
    @include set-typography(64, 64, 800);
    padding: 0;

    color: $gray;

    background: none;

    border: none;
    outline: none;
    cursor: pointer;
  }

  .swiper-btn-prev {
    margin-right: set-calc(32);
  }

  .swiper-btn-next {
    margin-right: 0;
  }

  &-container {
    left: set-calc(-72);

    width: set-calc(144, true, 100%);
    padding: 0 set-calc(72);

    @include set-media(md) {
      left: set-calc(-16);

      width: set-calc(30, true, 100%);
      margin-top: set-calc(40);
      padding: 0 set-calc(8);
    }
  }

  .swiper-container {
    position: relative;
    z-index: 100;

    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    list-style: none;
  }

  &-wrapper {
    position: relative;
    top: 0;

    height: 100%;
  }

  .swiper-wrapper {
    display: flex;
    box-sizing: content-box;
    width: 100%;

    transition-property: transform;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto!important;
    margin-right: set-calc(8);
    overflow: hidden;

    text-align: center;
  }

  &-item img {
    height: set-calc(580);

    @include set-media(md) {
      height: set-calc(435);
    }
  }

  .swiper-slide {
    position: relative;

    flex-shrink: 0;
    height: 100%;

    transition-property: transform;
  }

  &-caption {
    display: flex;
    flex-wrap: wrap;
    padding-top: set-calc(24);

    @include set-typography(16, 24, 500);
  }
}

.program-promo {
  left: 0;

  display: grid;
  grid-column-gap: set-calc(8);
  grid-template-columns: repeat(12,minmax(0,1fr));
  width: 100%;
  padding-top: set-calc(80);

  @include set-media(md) {
    position: relative;

    display: block;
  }

  &-title {
    grid-column: span 5;
    padding-bottom: set-calc(40);
  }

  .content-block-embed {
    left: 0;

    grid-column: span 7;
    width: 100%;
  }

  .video-player {
    overflow: hidden;

    border-radius: set-calc(20);
  }

  .plyr {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: px-to-rem(200px);
    max-width: 100%;
    height: 100%;

    font-weight: 400;
    font-family: inherit;
    line-height: 1.7;
    direction: ltr;
    text-shadow: none;

    transition: box-shadow .3s ease;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;

    &-video {
      overflow: hidden;

      background: $black;
      border-radius: set-calc(20);
    }
  
    &-full-ui {
      box-sizing: border-box;
    }


    &-video-embed {
      height: 0;
      padding-bottom: 56.25%;
    }

    &-video-wrapper {
      position: relative;

      width: 100%;
      height: 100%;
      margin: auto;
      overflow: hidden;

      background: $black;
    }
  }

  .content-block-embed iframe {
    max-width: 100%;

    border-radius: set-calc(20);
  }

  .plyr-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
  }

  .plyr iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.decision-form-wrapper {
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12,minmax(0,1fr));
  grid-gap: set-calc(8);

  @include set-media(md) {
    display: block;
  }

  .decision-form-info {
    grid-column: span 6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    left: 0;
    width: 100%;

    padding: set-calc(24);
    padding-right: set-calc(64);

    border-radius: set-calc(20);
    background: $light-gray;

    @include set-media(md) {
      position: relative;
      display: block;
      border-radius: set-calc(20);
      padding: set-calc(16);
      padding-right: set-calc(8);
    }

    &-title {
      padding-bottom: set-calc(24);
    }

    &-subtitle {
      @include set-typography(20, 28, 500);
      padding-bottom: set-calc(32);
      width: set-calc(435);

      @include set-media(md) {
        width: set-calc(382);
      }
    }

    &-credit-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 100%;
    }

    &-credit-was {
      @include set-typography(20, 25, 500, line-through);
      color: $gray;
      letter-spacing: -0.05em;
    }

    &-credit-price {
      position: relative;
      display: inline-block;
      color: $blue;

      @include set-typography(40, 50, 500);
      letter-spacing: -0.05em;
    }

    &-credit-price-discount {
      display: block;
      padding: set-calc(10);

      position: absolute;
      right: set-calc(-70);
      top: set-calc(-24);
      height: set-calc(41);

      background: $blue;
      border-radius: set-calc(20);
      color: $white;

      @include set-typography(16, 20, 500);
    }

    &-course-name {
      display: block;
      position: relative;

      @include set-typography(20, 28, 500);
      color: $gray;

      padding-top: set-calc(90);
    }
  }

  .decision-form-container {
    grid-column: span 6;

    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

    margin: 0;
    padding: set-calc(24);

    border-radius: set-calc(20);
    background: $light-gray;

    @include set-media(md) {
      margin-top: set-calc(8);
    }
  }

  .decision-form-title {
    @include set-typography(20, 28, 500);
    padding-bottom: set-calc(16);
  }

  .decision-form {
    position: relative;
    display: block;
  }

  .input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(32);
  }

  .input-field-label {
    @include set-typography(16, 22, 500);
  }

  .input-field-input {
    position: relative;
    background: none;
    border: none;
    border-bottom: px-to-rem(2px) solid $white;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: cset-calc(4) 0 set-calc(8);
    width: 100%;
    color: $gray;

    @include set-typography(20, 28, 500);
  }

  .decision-form-choice-agreement {
    padding: 0 0 set-calc(30);
    display: flex;
    align-items: center;
    position: relative;
    color: $gray;

    @include set-typography(16, 22, 500);

    &-checkbox {
      display: none;
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        height: set-calc(18);
        width: set-calc(18);
      }

      a {
        text-decoration: underline;
      }
    }

    &-text {
      cursor: pointer;
      padding-left: set-calc(4);
    }
  }

  input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: px-to-rem(3px) px-to-rem(3px) px-to-rem(3px) px-to-rem(4px);
    padding: initial;
    border: initial;
  }

  .decision-form-choice-submit-button {
    height: set-calc(68);
    padding: 0 set-calc(40);

    position: relative;
    display: flex;
    width: 100%;
    border-radius: set-calc(20);
    align-items: center;
    justify-content: center;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    transition: color $d-hover,background-color $d-hover,opacity $d-hover;

    @include set-typography(20, 20, 500);

    @include set-media(md) {
      height: set-calc(38);
    }
  }

  .decision-form-choice-submit-button:hover {
    background-color: $blue-hover;
  }
  
}

.faq-wrapper {
  padding-top: set-calc(160);

  @include set-media(md) {
    padding-top: set-calc(80);
  }

  .faq-head {
    position: relative;
    display: grid;
    padding: 0;
    grid-row-gap: 0;

    @include set-media(md) {
      position: relative;
      display: block;
      padding: 0;
    }
  }

  .faq-title {
    grid-column: span 5;
    padding-bottom: set-calc(40);
  }

  .faq--desc {
    grid-column: 1/6;

    @include set-typography(20, 30, 500);

    @include set-media(md) {
      @include set-typography(16, 22, 500);
    }

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  .faq-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-gap: set-calc(8) set-calc(8);
    padding-top: set-calc(40);
    left: 0;
    width: 100%;

    @include set-media(md) {
      position: relative;
      display: grid;
      grid-template-columns: repeat(1,minmax(0,1fr));
      grid-row-gap: set-calc(8);
      width: set-calc(32, true, 100%);
      left: set-calc(-16);
    }
  }

  .faq-list-item {
    height: auto;
    padding: set-calc(32);
    grid-column: span 6;

    position: relative;
    border-radius: set-calc(20);
    background-color: $light-gray;

    @include set-media(md) {
      display: flex;
      flex-direction: column;

      position: relative;
      padding: set-calc(16);
      grid-row-gap: 0;
    }

    &-question {
      padding-bottom: set-calc(32);
      @include set-typography(32, 40, 500);

      @include set-media(md) {
        @include set-typography(24, 28, 500);
      }
    }

    &-answers {
      @include set-typography(20, 30, 500);

      @include set-media(md) {
        @include set-typography(16, 22, 500);
      }
    }
  }
}